services:
  app:
    build:
      context: .
      dockerfile: docker/Dockerfile
    ports:
      - "8000:80"
      - "8080:8080"
    env_file: .env
    volumes:
      - sqlite-data:/app/database
    depends_on:
      - redis

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data

volumes:
  sqlite-data:
  redis-data:
